.cubic {
        width: 100px;
        height: 100px;
        position: relative;
        background-color: red;
        animation: example 10s infinite
      }

      @keyframes example {
        from {left:0 }
        to { left:100%}
        
      }